<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>欢迎页</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../../static/modules/plugin/bootstrap/bootstrap.min.css?v=3.3.6" />
	</head>
	<body>
		<div class="container">
			<div class="jumbotron" style="text-align: center;">
				<h1>欢迎使用家教兼职系统！</h1>
				<br /><br />
				<p><a class="btn btn-primary btn-lg" role="button">
					开始使用</a>
				</p>
			</div>
		</div>
		
		<script src="../../../static/modules/plugin/jquery/jquery.min.js"></script>
		<script src="../../../static/modules/plugin/jquery/jquery.ui.custom.js"></script> 
		<script src="../../../static/modules/plugin/bootstrap/bootstrap.min.js"></script> 
	</body>
</html>
