<!DOCTYPE html>
<html lang="en">
<head>
<title>Matrix Admin</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/HomeEducationPlatformstatic/modules/plugin/bootstrap/bootstrap.min.css?v=3.3.6" />
<link rel="stylesheet" href="/HomeEducationPlatformstatic/modules/plugin/bootstrap-responsive/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/HomeEducationPlatformstatic/system/admin/css/matrix-style2.css" />
<link rel="stylesheet" href="/HomeEducationPlatformstatic/system/admin/css/matrix-media.css" />
<link href="/HomeEducationPlatformstatic/modules/plugin/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
<style>
	h1 {
		font-weight: bold;
	}
	#content-header {
		margin-bottom: 10px !important;
	}
	#content-header h1 {
		padding-top: 10px;
   		padding-bottom: 10px;
	}
</style>
</head>
<body>

<div id="content">
  <div id="content-header">
      <h1>404错误页面</h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="fa fa-exclamation-circle"></i> </span>
            <h5>Error 404</h5>
          </div>
          <div class="widget-content">
            <div class="error_ex">
              <h1>404</h1>
              <h3>Opps, You're lost.</h3>
              <p>We can not find the page you're looking for.</p>
              <a class="btn btn-warning btn-big"  href="index.html">返回主页</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/HomeEducationPlatformstatic/modules/plugin/jquery/jquery.min.js"></script>
<script src="/HomeEducationPlatformstatic/modules/plugin/jquery/jquery.ui.custom.js"></script> 
<script src="/HomeEducationPlatformstatic/modules/plugin/bootstrap/bootstrap.min.js"></script> 
<script src="/HomeEducationPlatformstatic/system/admin/js/matrix.js"></script>
</body>
</html>
