<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.dao.CommonDAO">

	<!-- 用户管理 状态 statue 1 为系统管理员， 2 为兼职学生 3，为家长 -->

	<select id="findUsersByName" parameterType="java.lang.String" resultType="com.education.entity.Users">
		select * from users where name=#{name}
	</select>
	<select id="findUsersByEmail" parameterType="java.lang.String" resultType="com.education.entity.Users">
		select * from users where email=#{email}
	</select>
	<!-- 修改用户 -->
	<update id="updateUsers" parameterType="com.education.entity.Users">
		update users set name=#{name},password=#{password},email=#{email},idcard=#{idcard},realname=#{realname} where id = #{id}
	</update>	
	<!-- 插入用户 -->
	<insert id="insertUsers" parameterType="com.education.entity.Users">
		insert into users(name,realname,password,email,statue,flag,idcard,createtime) values(#{name},#{realname},#{password},#{email},#{statue},1,#{idcard},#{createtime})
	</insert>
	<!-- 获取所有的职位信息 -->
	<select id="findAllPositions" resultType="com.education.entity.Position">
		select * from tposition
	</select>
	<!--  获取所有的简历信息 -->
	<select id="findAllResumes" resultType="com.education.entity.Resume">
		select * from resume
	</select>
	<select id="findResumeByid" parameterType="java.lang.Integer" resultType="com.education.entity.Resume">
		select * from resume where id = #{id}
	</select>
	<select id="findPositionByid" parameterType="java.lang.Integer" resultType="com.education.entity.Position">
		select * from tposition where id = #{id}
	</select>
	
	<select id="getNumPositioned" parameterType="java.lang.Integer" resultType="com.education.entity.Userposition">
		select * from userposition where position = #{id}
	</select>
	<select id="getResumeByuserid" parameterType="java.lang.Integer" resultType="com.education.entity.Resume">
		select * from resume where user=#{userid}
	</select>
</mapper>